<html>
  <head>
    <title><%= record[:component_id] %>: <%=record[:title] %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
    
  <body>
    <div class='container'>
      <h1>NYU Archive of Contemporary Composers Websites API Demo Site</h1>
      <h2><%= record[:resource_identifier] %> <%= record[:resource_title] %> <br><a href="<%= col_url %>">view all digital objects</a></h2>
      <h3><%= parent[0][:title] %></h3>
      <h4><%= record[:title] %></h4>


        <% record[:file_uris].each do |uri| %>
          <iframe src="<%= uri %>" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>
        <% end %>
      
      <br />
      <h4>Notes<h4>

      <table class="table">
        <tr>
          <td>date</td><td><%= record[:date] %></td>
        </tr>
        <% if record[:extent].size != 0 %>
          <tr>
            <td>extent</td><td><%= record[:extent][0] %></td>
          </tr>
        <% end %>

      </table>

    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
