<table>
<h2>NYU Libraries: Archiving Websites of Contemporary Composers Demo Site</h2>
<h2><%= record[:resource_identifier] %>: <%= record[:resource_title] %></h2>

<br><a href='<%= record[:ead_location] %>'>View Finding Aid [<%= record[:ead_location] %>]</a>

<h3>Extent</h3>
<%= resp.size.to_s + " digital objects" %>

<h3>Scope and Content</h3>
<%= record[:resource_scopecontent][0] %>

<h3>Digital Assets</h3>

<% parents.each do |aobj| %> 
  <h4><%= aobj[1][:ao][0][:title] %></h4>
    <table>
      <% aobj[1][:objs].each do |dobj| %>
        <tr><td><a href='<%= dobj[:detail_url] + "&format=html" %>'><%= dobj[:title] %> (<%= dobj[:extent] %>)</a></td></tr>
  	  <% end %>
  	</table>
<% end %>