<html>
  <head>
    <title><%= record[:component_id] %>: <%=record[:title] %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
    
  <body>
    <div class='container'>
      <h1>NYU Archive of Contemporary Composers Websites API Demo Site</h1>
      <h2><%= record[:resource_identifier] %>: <%= record[:resource_title] %></h2>
      <br><a href='<%= record[:ead_location] %>'>View Finding Aid <%= record[:ead_location] %></a>
      <h3>Extent</h3>
      <%= resp.size.to_s + " digital objects" %>
      <h3>Scope and Content</h3>
      <%= record[:resource_scopecontent][0] %>
       <h3>Biography or History</h3>
      <%= record[:resource_bioghist][0] %>

      <h3>Digital Assets</h3>
      <% parents.each do |aobj| %> 
        <h4><%= aobj[1][:ao][0][:title] %></h4>
        <table>
          <% aobj[1][:objs].each do |dobj| %>
            <tr><td><a href='<%= dobj[:detail_url] + "&format=html" %>'><%= dobj[:title] %> (<%= dobj[:extent] %>)</a></td></tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>